@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

@import './lib/open-iconic/open-iconic-bootstrap.min';

html {
  height: 100%;

}
body {
  display: flex;
  height: 100%;
  // height: auto !important;
  // height: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background: rgb(100,161,204);
  background: linear-gradient(0deg, #65bfff 0%, #aae0ff 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#app {
  min-height: 100%;
  flex: 1;
}

.table-last-col-right td:last-child {
  text-align: right;
}

.c3-region {
  fill-opacity: 0.3 !important;
}
.region-color--0 {
  background-color: #E7717D;
}
.c3-region.region-color--0 {
  fill: #E7717D;
}
.region-color--1 {
  background-color: #C2CAD0;
}
.c3-region.region-color--1 {
  fill: #C2CAD0;
}
.region-color--2 {
  background-color:#C2B9B0;
}
.c3-region.region-color--2 {
  fill: #C2B9B0;
}
.region-color--3 {
  background-color: #7E685A;
}
.c3-region.region-color--3 {
  fill: #7E685A;
}
.region-color--4 {
  background-color: #AFD275;
}
.c3-region.region-color--4 {
  fill: #AFD275;
}

.spinner {
  animation: anim-rotate 2s infinite linear;
}

@keyframes anim-rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.slide-left-enter-active,
.slide-left-leave-active,
.slide-right-enter-active,
.slide-right-leave-active {
  transition-duration: 0.3s;
  transition-property: height, opacity, transform;
  transition-timing-function: ease-in-out;
  // transition-timing-function: cubic-bezier(0.55, 0, 0.1, 1);
  overflow: hidden;
}

.slide-left-enter,
.slide-right-leave-active {
  opacity: 0;
  transform: translate(50%, 0);
}

.slide-left-leave-active,
.slide-right-enter {
  opacity: 0;
  transform: translate(-50%, 0);
}